.product_upper_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 40px;
    max-width: 1450px;
    padding: 0 10px;
    margin: 60px auto;
}

/* Product card */
.product_container {
    width: 100%;
    min-height: 340px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    position: relative;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}

/* Product image */
.product_container img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    padding: 10px 20px;
}

/* Description */
.product_description {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: auto;
}
.product_description>div {
    display: flex;
   gap:15px ;
   align-items: center;
}


/* Title clamp */
.product_title {
    font-weight: 600;
    /* display: -webkit-box; */
    /* -webkit-line-clamp: 2; */
    overflow: hidden;
    /* -webkit-box-orient: vertical; */
}

/* Add-to-cart button */
.add_to_cart_button {
    width: 100%;
    border: none;
    border-radius: 20px;
    background: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
    padding: 7px;
    /* border-radius: 30px; */
    position: absolute;
    bottom: 10px;
    left: 0;
}

.off_button {
    display: none;
}

/* ----------- MEDIA QUERIES ----------- */
@media(max-width: 570px) {
    .product_upper_container {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 20px;
        margin: 40px auto;
    }

    /* Always show button */
    .add_to_cart_button {
        display: block !important;
    }
}

@media(max-width: 470px) {
    .product_upper_container {
        grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
        gap: 15px;
    }

    .product_container img {
        height: 140px;
    }

    .product_title {
        font-size: 12px;
    }

    .product_price,
    .product_rating {
        font-size: 11px;
    }
}
.detail_page_flex{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 20px;
    max-width: 1200px;
    margin: 40px auto;
    box-shadow: none;

}
.detail_page_flex img{
    width: 100%;
    max-width: 420px;
    height: 420px;
    object-fit: contain;
}


.detail_description{
        margin-top: 10px;
        color: #444;
        line-height: 1.5;
        font-size: 14px;
}
.detail_page_flex .product_description {
    flex: 1;
    padding: 0;
}
.detail_page_add_to_cart {
    display: block;
    border: none;
  
    background: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
  
    width: 60%;
    margin-top: 20px;
    align-self: flex-start;
    padding: 10px;
    border-radius: 25px;
}
@media (max-width: 900px) {
    .detail_page_flex {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .detail_page_flex img {
        max-width: 300px;
        height: 300px;
    }

    .detail_page_add_to_cart {
        width: 100%;
    }
}