.product_upper_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 40px;
    max-width: 1450px;
    padding: 0 10px;
    margin: 60px auto;
}

/* Product card */
.product_container {
    width: 100%;
    min-height: 330px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* border-radius: 10px; */
    position: relative;
    padding-bottom: 50px;
}

/* Product image */
.product_container img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    padding: 10px 20px;
}

/* Description */
.product_description {
    /* display: flex; */
    padding: 10px;
    height: auto;
}
.product_description>div {
    display: flex;
   gap:15px ;
   align-items: center;
}


/* Title clamp */
.product_title {
    font-weight: 600;
    /* display: -webkit-box; */
    /* -webkit-line-clamp: 2; */
    overflow: hidden;
    /* -webkit-box-orient: vertical; */
}

/* Add-to-cart button */
.add_to_cart_button {
    width: 100%;
    border: none;
    border-radius: 20px;
    background: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
    padding: 7px;
    /* border-radius: 30px; */
    position: absolute;
    bottom: 10px;
    left: 0;
}

.off_button {
    display: none;
}

/* ----------- MEDIA QUERIES ----------- */
@media(max-width: 570px) {
    .product_upper_container {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 20px;
        margin: 40px auto;
    }

    /* Always show button */
    .add_to_cart_button {
        display: block !important;
    }
}

@media(max-width: 470px) {
    .product_upper_container {
        grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
        gap: 15px;
    }

    .product_container img {
        height: 140px;
    }

    .product_title {
        font-size: 12px;
    }

    .product_price,
    .product_rating {
        font-size: 11px;
    }
}