.auth_container {
    width: 350px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Amazon logo */
.auth_container img {
    width: 200px;
    margin-bottom: 20px;
}

/* White card */
.auth_container>div {
    width: 100%;
    border: 1px solid #ddd;
    padding: 20px 26px;
    border-radius: 4px;
    background-color: #fff;
}


/* Title */
.auth_container p:first-child {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 15px;
}

/* Form */
.auth_container form {
    display: flex;
    flex-direction: column;
}

/* Labels */
.auth_container label {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 4px;
}

/* Inputs */
.auth_container input {
    height: 30px;
    margin-bottom: 12px;
    padding: 3px 7px;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
}

.auth_container input:focus {
    outline: none;
    border-color: #e77600;
    box-shadow: 0 0 3px rgba(228, 121, 17, 0.5);
}

/* Sign-in button */
.auth_container button:first-of-type {
    height: 32px;
    margin-top: 10px;
    background: linear-gradient(#f7dfa5, #f0c14b);
    border: 1px solid #a88734;
    border-radius: 3px;
    cursor: pointer;
}

.auth_container button:first-of-type:hover {
    background: linear-gradient(#f5d78e, #eeb933);
}

/* Terms text */
.auth_container form p {
    font-size: 12px;
    margin-top: 15px;
    line-height: 1.4;
}

/* Create account button */
.auth_container button:last-of-type {
    height: 32px;
    margin-top: 20px;
    background: linear-gradient(#f7f8fa, #e7e9ec);
    border: 1px solid #adb1b8;
    border-radius: 3px;
    cursor: pointer;
}

.auth_container button:last-of-type:hover {
    background: linear-gradient(#e7e9ec, #dcdfe3);
}
.error_border {
    /* border: 1px solid #ff0000; */
    box-shadow:0px 0px 5px rgba(255, 0, 0,0.9);
    border: 1px solid red;
}