
.logo img {
    max-width: 200px;
}
.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1a1a;
    padding: 5px 10px;
    color: white;
    height: 70px;
    gap: 10px;
    width: 100%;
    
}
.header_main_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header_left_container {
    display: flex;
    align-items: center;
    /* gap: 10px; */
}
.logo {
    max-width: 200px;
    min-width: 100px;
    height: auto;
    display: flex;
    align-items: center;
    
    /* justify-content: center; */
    margin-left: 5px;
    
}
.logo img {
    width: 80%;
    /* object-fit: contain; */
    /* margin-left: 20px; */
    vertical-align: middle;
    padding-top: 10px;
}
.delivery {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    white-space: nowrap;
    padding: 5px;
}
.delivery div p {
    font-size: 10px;
}
.header_middle_container {
  
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    /* overflow: hidden; */
}
.header_middle_container input{
    flex: 1;
    border: none;
    padding: 10.5px 10px;
    max-width: 800px;
}
.header_middle_container input,
.header_middle_container select{
    font-weight: bold;
    outline: 1px solid #ffffff;
}
.header_middle_container select {
    padding: 10px;
    border: none;
    background-color: #f3f3f3;
    border-right: 1px solid #cccccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search_icon {
    background-color: #febd69;
    padding: 10px 10px 10px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}.search_icon:hover {
    background-color: #f3a847;
}
.header_middle_container:focus-within {
   border:2px solid #febd69;
}
.header_right_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 20px;
}

.header_right_container a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    white-space: nowrap;
}
.header_right_container p{
    font-size: 10px;
}
.language_selection {
    display: flex;
    align-items: center;
    /* gap: 5px; */
    padding: 10px;
    width: 100px;
}
.language_selection select{
    background-color: #1a1a1a;
    border: none;
    color: white;
}
.language_selection img{
    width: 40%;
    
}
.cart {
    display: flex;
    align-items: center;
    /* gap: 5px; */
    position: relative;
}
.cart span {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #f08804;
    color: black;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 12px;
}
.cart:hover,
.language_selection:hover,
.delivery:hover,
.header_container a:hover {
    outline: 1px solid white;
    border: 1px solid white;
    border-radius: 3px;
}
@media screen and (max-width:1024px) {
    .header_container {
            flex-direction: column;
            height: auto;
            gap: 15px;
        }
            .header_middle_container input {
                width: 100%;
                max-width: 400px;
            }
}
@media screen and (max-width:822px) {
    .logo img {
            max-width: 180px;
        }
    .header_container{
        height: auto;
        /* align-items: ; */
        padding-top: 12px;
       
    }
    .header_main_section {
            flex-direction: column;
            gap: 10px;
        }
        .header_right_container{
            gap: 13%;
        }
}
@media screen and (max-width: 652px) {
    .header_container {
        flex-direction: column;
        height: auto;
        gap: 15px;
    }

    .header_main_section {
        flex-direction: column;
        gap: 15px;
    }

    .logo img {
        max-width: 140px;
    }
        .header_right_container {
            gap: 3%;
        }

}